.navbar {
  background-color: rgb(59, 62, 61);
  height: 0%;
}
.navbar-brand {
  margin-left: 10%;
  color: white;
}
.nav-link {
  color: white;
}
.nav {
  margin-right: 10%;
}
.card-title {
  font-size: 3em;
}
.card {
  padding: 3%;
  background-color: rgb(236, 242, 252);
}
.card text-center {
  background-color: white;
}
footer {
  background-color: rgb(59, 62, 61);
  color: white;
  height: 5%;
}
